$accentColor = #008B8B
$textColor = #CD2626
$borderColor = #eaecef
$codeBgColor = #263238
$arrowBgColor = #79CDCD
$badgeTipColor = #228B22
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961


// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 950px
$homePageWidth = 1050px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px